{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h4>The following file contains the ID3 fields</h4>
            <h5>{{audio.media}}</h5>
            <form action="{% url 'save_media' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn waves-effect waves-light" type="submit">Save</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <a href="{% url 'download' %}" value="download" download>
                <button class="btn waves-effect waves-light" type="submit">Download</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
