main {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 1 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .msg-success {
      color: greenyellow;
  }

  .msg-error {
    color: red;
}